.container {
  border-radius: 1em;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 1em;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.textContainer {
  width: calc(100% - 325px);
  padding-left: 1em;
}